/UTP_Aplicacion/2. Construccion/2.3. Codigo fuente/crubTest2/nbproject/private/
/UTP_Aplicacion/2. Construccion/2.3. Codigo fuente/crubTest2/build/
/UTP_Aplicacion/2. Construccion/2.3. Codigo fuente/crubTest2/dist/
/UTP_Aplicacion/2. Construccion/2.3. Codigo fuente/transportes_gepp/dist/
/UTP_Aplicacion/2. Construccion/2.3. Codigo fuente/transportes_gepp/build/